<div class="roll-dialog">
    <div class="grid grid-4col">        
        <div class="flex-group-center">            
            <strong><label class="size12" for="aspect-value">Aspect:&nbsp;</label></strong>
            <input type="number" class="aspect-value" name="aspect-value" value="{{aspect}}">
        </div>
        <div class="flex-group-center">            
            <strong><label class="size12" for="modifier-value">Modifier:&nbsp;</label></strong>
            <input type="number" class="modifier-value" name="modifier-value" value="{{modifier}}">
        </div>
        <div class="flex-group-center">
            <strong><label class="size12" for="focus-die">Focus:&nbsp;</label></strong><br/>
            <input type="checkbox" class="focus-check" name="focus-check">
        </div>
        <div class="flex-group-center">
            <strong><label class="size12" for="bonus-die-check">Bonus Die:&nbsp;</label></strong><br/>
            <input type="checkbox" class="bonus-die-check" name="bonus-die-check">
        </div>        
    </div>
</div>