<header class="item-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields" style="width: 100%">
        <h3 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h3>
        {{#ifCond system.weight '!=' null}}
        <div class="grid grid-3col">
            <div class="resource">
                <label class="resource-label">{{localize "T.QUANTITY"}}</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label class="resource-label">{{localize "T.LOAD"}}</label>
                <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label class="resource-label">{{localize "T.COST"}}</label>
                <input type="text" name="system.cost" value="{{system.cost}}" />
            </div>
        </div>
        {{/ifCond}} {{#ifCond type '==' 'skill'}}
        <label class="resource-label">{{localize 'T.FOCUS'}}</label>
        <input type="text" name="system.focus" value="{{system.focus}}" />
        {{/ifCond}} {{#ifCond type '==' 'ability'}}
        <div class="grid grid-2col">
            <div class="flex row align-center">
                <label class="resource-label" for="system.ability_type">{{localize "T.TYPE"}}</label>
                <select name="system.ability_type">
                    {{#select system.ability_type}}
                    <option value="general">{{localize 'T.GENERAL'}}</option>
                    <option value="class">{{localize 'T.CLASS'}}</option>
                    <option value="ancestry">{{localize 'T.ANCESTRY'}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="flexrow flex-group-left">
                <label for="system.improved" class="checkbox-label resource-label">
                    {{localize 'T.IMPROVED'}}
                    <input class="input-checkbox" type="checkbox" name="system.improved" {{checked system.improved}} data-dtype="Boolean" />
                </label>
            </div>
        </div>
        <div class="flex row align-center">
            <label class="resource-label" for="system.prerequisite">{{localize 'T.PREREQUISITE'}}</label>
            <input type="text" class="size12" name="system.prerequisite" value="{{system.prerequisite}}" />
        </div>
        {{/ifCond}} {{#ifCond type '==' 'spell'}}
        <div class="flex row space-between margin-bottom">
            <div>
                <label for="system.type" class="resource-label">{{localize 'T.TYPE'}}</label>
                <select name="system.type">
                    {{#select system.type}}
                    <option value="wit">{{localize 'T.ARCANE'}}</option>
                    <option value="ins">{{localize 'T.MYSTIC'}}</option>
                    <option value="res">{{localize 'T.NATURE'}}</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label for="system.level" class="resource-label">{{localize 'T.LEVEL'}}</label>
                <select name="system.level">
                    {{#select system.level}}
                    <option value="1">{{localize 'T.BASIC'}}</option>
                    <option value="2">{{localize 'T.INTERMEDIATE'}}</option>
                    <option value="3">{{localize 'T.ADVANCED'}}</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label for="system.action" class="resource-label">{{localize 'T.ACTION'}}</label>
                <select name="system.action">
                    {{#select system.action}}
                    <option value="free">{{localize 'T.FREE'}}</option>
                    <option value="full">{{localize 'T.FULL'}}</option>
                    <option value="reaction">{{localize 'T.REACTION'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        {{/ifCond}} {{#ifCond type '==' 'follower'}}
        <div class="grid grid-4col">
            <div class="resource flex column">
                <label class="resource-label">{{localize "T.STRENGTH"}}</label>
                <input type="number" name="system.strength.value" value="{{system.strength.value}}" data-dtype="Number" />
            </div>
            <div class="resource flex column">
                <label class="resource-label">{{localize "T.CRAFT"}}</label>
                <input type="number" name="system.craft.value" value="{{system.craft.value}}" data-dtype="Number" />
            </div>
            <div class="resource flex column">
                <label class="resource-label">{{localize "T.ARMOR"}}</label>
                <span class="flex row">
                    <input type="number" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number" />
                    <span>/&nbsp;</span>
                    <input type="number" name="system.armor.max" value="{{system.armor.max}}" data-dtype="Number" />
                </span>
            </div>
            <div class="resource flex column">
                <label class="resource-label">{{localize "T.LIFE"}}</label>
                <span class="flex row">
                    <input type="number" name="system.life.value" value="{{system.life.value}}" data-dtype="Number" />
                    <span>/&nbsp;</span>
                    <input type="number" name="system.life.max" value="{{system.life.max}}" data-dtype="Number" />
                </span>
            </div>
        </div>
        {{/ifCond}}
    </div>
</header>