<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="actor-header">
        <div class="flex row space-between">
        <div class="side-column">
            <h3 class="charname"><input class="input-underlined" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
            <div>
                <div class="flexrow resource-row">
                    <span>
                        <input class="blank" type="text" name="data.personal.ancestry" value="{{data.personal.ancestry}}" placeholder="Ancestry">
                    </span>
                    <span>
                        <input class="blank" type="text"  name="data.personal.class" value="{{data.personal.class}}" placeholder="Class">
                    </span>
                </div>
                <div class="flexrow resource-row">
                    <span class="align-center">
                        <label for="data.personal.level">{{localize "T.LEVEL"}}</label>
                        <input type="number" class="blank" name="data.personal.level" value="{{data.personal.level}}" placeholder="0">
                    </span>
                    <span class="align-center">
                        <label for="data.personal.xp">{{localize "T.XP"}}:</label>
                        <input type="number" class="blank" name="data.personal.xp" value="{{data.personal.xp}}" placeholder="0">
                    </span>
                </div>
                <div class="flex row space-between resource-row">
                    <span>
                        <input type="text" class="blank" name="data.personal.background" value="{{data.personal.background}}" placeholder="Background">
                    </span>
                    <span>
                        <input type="text" class="blank" name="data.personal.alignment" value="{{data.personal.alignment}}" placeholder="Alignment">
                    </span>                                       
                </div>
            </div>
        </div>
        <div class="roll-button">
            <!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/> -->
        </div>
        <div class="side-column grid ">
            <div>
                <div class="flex row attribute">                    
                    <input type="number" name='data.attributes.strength.value' value="{{data.attributes.strength.value}}">
                    <label class="rollable" for='data.attributes.strength.value' data-key="strength">{{localize 'T.STRENGTH'}}</label>
                </div>
                <div class="flex row aspect">
                    <input type="number" name='data.aspects.bra.value' value="{{data.aspects.bra.value}}">
                    <label class="rollable" for='data.aspects.bra.value' data-key="bra">{{localize 'T.ASPECT_BRA'}}</label>                    
                </div>
                <div class="flex row aspect">
                    <input type="number" name='data.aspects.agi.value' value="{{data.aspects.agi.value}}">
                    <label class="rollable" for='data.aspects.agi.value' data-key="agi">{{localize 'T.ASPECT_AGI'}}</label>                    
                </div>
                <div class="flex row aspect">
                    <input type="number" name='data.aspects.met.value' value="{{data.aspects.met.value}}">
                    <label class="rollable" for='data.aspects.met.value' data-key="met">{{localize 'T.ASPECT_MET'}}</label>                    
                </div>
            </div>
            <div>
                <div class="flex row attribute">
                    <input type="number" name='data.attributes.craft.value' value="{{data.attributes.craft.value}}">
                    <label class="rollable" for='data.attributes.craft.value' data-key="craft">{{localize 'T.CRAFT'}}</label>                    
                </div>
                <div class="flex row aspect">
                    <input type="number" name='data.aspects.ins.value' value="{{data.aspects.ins.value}}">
                    <label class="rollable" for='data.aspects.ins.value' data-key="ins">{{localize 'T.ASPECT_INS'}}</label>                    
                </div>
                <div class="flex row aspect">
                    <input type="number" name='data.aspects.wit.value' value="{{data.aspects.wit.value}}">
                    <label class="rollable" for='data.aspects.wit.value' data-key="wit">{{localize 'T.ASPECT_WIT'}}</label>                    
                </div>
                <div class="flex row aspect">
                    <input type="number" name='data.aspects.res.value' value="{{data.aspects.res.value}}">
                    <label class="rollable" for='data.aspects.res.value' data-key="res">{{localize 'T.ASPECT_RES'}}</label>                    
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="flex row space-between single-row">
        <div class="flex row align-center">
            <label for="data.derived.life.value">{{localize "T.LIFE"}}:&nbsp; </label>
            <input type="number" name="data.derived.life.value" value="{{data.derived.life.value}}">
            <span>/&nbsp;</span>
            <input type="number" name="data.derived.life.max" value="{{data.derived.life.max}}">
        </div>
        <div class="flex row align-center wounds">
            <label>{{localize "T.WOUNDS"}}:&nbsp;</label>
            <a class="cancel-btn size12" title="{{localize 'T.WND0'}}"><i class="fas fa-ban"></i></a>
            <a class="btn size12 {{#ifCond data.wounds.value '>=' 1}}selected{{/ifCond}}" data-value="1" title="{{localize 'T.WND1'}}"><i class="fas fa-tint"></i></a>
            <a class="btn size12 {{#ifCond data.wounds.value '>=' 2}}selected{{/ifCond}}" data-value="2" title="{{localize 'T.WND2'}}"><i class="fas fa-tint"></i></a>
            <a class="btn size12 {{#ifCond data.wounds.value '>=' 3}}selected{{/ifCond}}" data-value="3" title="{{localize 'T.WND3'}}"><i class="fas fa-tint"></i></a>
            <a class="btn size12 {{#ifCond data.wounds.value '>=' 4}}selected{{/ifCond}}" data-value="4" title="{{localize 'T.WND4'}}"><i class="fas fa-tint"></i></a>
            <a class="btn size12 {{#ifCond data.wounds.value '>=' 5}}selected{{/ifCond}}" data-value="5" title="{{localize 'T.WND5'}}"><i class="fas fa-tint"></i></a>
        </div>
        <div class="flex row align-center deathtests">
            <!-- <label>{{localize "T.DEATH_SAVE"}}:&nbsp;</label> -->
            <a class="cancel-btn size12" title="{{localize 'T.DTH0'}}"><i class="fas fa-ban"></i></a>
            <a class="btn size12 {{#ifCond data.death_tests.value '<=' -8}}selected{{/ifCond}}" data-value="-8" title="{{localize 'T.DTH1'}}"><i class="fas fa-skull-crossbones"></i></a>
            <a class="btn size12 {{#ifCond data.death_tests.value '<=' -9}}selected{{/ifCond}}" data-value="-9" title="{{localize 'T.DTH2'}}"><i class="fas fa-skull-crossbones"></i></a>
            <a class="btn size12 {{#ifCond data.death_tests.value '<=' -10}}selected{{/ifCond}}" data-value="-10" title="{{localize 'T.DTH3'}}"><i class="fas fa-skull-crossbones"></i></a>
            <a class="btn size12 {{#ifCond data.death_tests.value '<=' -11}}selected{{/ifCond}}" data-value="-11" title="{{localize 'T.DTH4'}}"><i class="fas fa-skull-crossbones"></i></a>
            <a class="btn size12 {{#ifCond data.death_tests.value '<=' -12}}selected{{/ifCond}}" data-value="-12" title="{{localize 'T.DTH5'}}"><i class="fas fa-skull-crossbones"></i></a>
        </div>
        <div class="flex row align-center">
            <label for="data.fate.value">{{localize 'T.FATE'}}:&nbsp;</label>
            <input type="number" name="data.fate.value" value="{{data.fate.value}}">
            <span>/&nbsp;</span>
            <input type="number" name="data.fate.max" value="{{data.fate.max}}">
        </div>
    </div>
    <hr>
    <div class="flex row space-between single-row">
        <div class="flex row align-center">
            <span class="armor-box small size12">
                <label><strong>{{actor.data.derived.armor.value}}</strong></label>
            </span>
        </div>
        <div class="flex row align-center size12">
            <label for="data.damage_modifier.physical.mod">{{localize 'T.PHYSICAL_DMG'}}: {{data.attributes.strength.value}} + </label>
            <input type="number" class="input-underlined" name="data.damage_modifier.physical.mod" value="{{data.damage_modifier.physical.mod}}">
            <label for="data.damage_modifier.physical.value"> = <strong>{{data.damage_modifier.physical.value}}</strong></label>
        </div>
        <div class="flex row align-center size12">
            <label for="data.damage_modifier.psychic.mod">{{localize 'T.PSYCHIC_DMG'}}: {{data.attributes.craft.value}} + </label>
            <input type="number" class="input-underlined" name="data.damage_modifier.psychic.mod" value="{{data.damage_modifier.psychic.mod}}">
            <label for="data.damage_modifier.psychic.value"> = <strong>{{data.damage_modifier.psychic.value}}</strong></label>
        </div>        
        <div class="flex row align-center size12">
            <label>{{localize 'T.SPEED'}}: <strong>{{data.derived.speed.value}}</strong></label>            
        </div>
        <!-- <div class="flex row align-center">
            <label for="data.fate.value">{{localize 'T.FATE'}}:&nbsp;</label>
            <input type="number" name="data.fate.value" value="{{data.fate.value}}">
            <span>/&nbsp;</span>
            <input type="number" name="data.fate.max" value="{{data.fate.max}}">
        </div> -->
    </div>
    </header>
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Abilities</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="followers">Followers</a>
        <a class="item" data-tab="description">Description</a>     
    </nav>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <h3>{{localize 'T.SKILLS'}}</h3>
            <div>                
                <ol class="grid grid-3col items-list">
                    {{#each actor.skills as |item id|}}
                    <li class="item flex row space-between" data-item-id="{{item._id}}">
                        <span class="flex row">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <a class="item-name item-edit">{{item.name}}</a>
                        </span>
                        <div class="item-controls">
                            <!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> -->
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                        {{/each}}
                </ol>
            </div>
            <h3>{{localize 'T.SPECIAL_ABILITIES'}}</h3>
            <div>...</div>            
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="flexcol flex-group-center flex-center papirus-box">
                <label class="capitalize"><strong>{{actor.data.equipped_armor.name}}</strong></label>

                {{#ifCond actor.data.equipped_armor.data.armor_type '!=' 'shield'}}
                {{#ifCond actor.data.equipped_armor.data.armor_type '!=' 'helm'}}
                <div class="flex row flex-center margin">
                    <span class="armor-box">
                        <label>{{actor.data.equipped_armor.data.rating.value}}</label>
                    </span>                    
                    {{#each actor.data.equipped_armor.data.points as |status index|}}                                   
                    <a class="armor-point {{#ifCond status '==' 0}}new{{/ifCond}} {{#ifCond status '==' 1}}damaged{{/ifCond}} {{#ifCond status '==' 2}}destroyed{{/ifCond}}" data-max="{{../data.rating.max}}" data-status="{{status}}" data-index="{{index}}" data-item_id="{{../../data.id}}">
                        {{#ifCond status '==' 0}}<i class="far fa-circle"></i>{{/ifCond}}
                        {{#ifCond status '==' 1}}<i class="fas fa-ban"></i>{{/ifCond}}
                        {{#ifCond status '==' 2}}<i class="far fa-times-circle"></i>{{/ifCond}}
                    </a>
                    {{/each}}               
                </div>
                {{/ifCond}}
                {{/ifCond}}
            </div>
            <div class="grid">
                {{!-- WEAPONS --}}
                <div class="flexcol papirus-box">
                    <h3 class="uppercase"><strong>{{localize 'T.WEAPONS'}}</strong></h3>
                    <div class="flexrow">
                        <ol class="items-list">
                            <li class="item flexrow item-header">
                              <div class="item-image"></div>
                              <div class="item-name">{{localize 'T.ARMOR'}}</div>
                              <div class="item-stats">{{localize 'T.RATING'}}</div>
                              <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                              </div>
                            </li>
                        {{#each actor.armor as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-stats">{{item.data.rating.value}} / {{item.data.rating.max}} </div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </div>
                </div>
                {{!-- ARMOR --}}
                <div class="flexcol papirus-box">
                    <h3 class="uppercase"><strong>{{localize 'T.ARMOR'}}</strong></h3>
                    <div class="flexrow">
                        <ol class="items-list">
                            <li class="item flexrow item-header">
                              <div class="item-image"></div>
                              <div class="item-name">{{localize 'T.ARMOR'}}</div>
                              <div class="item-stats">{{localize 'T.RATING'}}</div>
                              <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                              </div>
                            </li>
                        {{#each actor.armor as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-stats">{{item.data.rating.value}} / {{item.data.rating.max}} </div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </div>
                </div>
            </div>         
        </div>

        {{!-- Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="flexcol papirus-box">
                <div class="flexrow">
                    <ol class="items-list">
                        <li class="item flexrow item-header">
                          <div class="item-image"></div>
                          <div class="item-name">{{localize 'T.ARMOR'}}</div>
                          <div class="item-stats">{{localize 'T.RATING'}}</div>
                          <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i>{{localize 'T.ADD'}} {{localize 'T.ARMOR'}}</a>
                          </div>
                        </li>
                    {{#each actor.armor as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-stats">{{item.data.rating.value}} / {{item.data.rating.max}} </div>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>