<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="actor-header">
        <div class="flex row space-between">
            <div class="side-column">
                <h3 class="charname"><input class="input-underlined" name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h3>
                <div>
                    <div class="flexrow resource-row">
                        <span>
                            <input class="blank" type="text" name="system.personal.ancestry" value="{{system.personal.ancestry}}" placeholder="Ancestry" />
                        </span>
                        <span>
                            <input class="blank" type="text" name="system.personal.class" value="{{system.personal.class}}" placeholder="Class" />
                        </span>
                    </div>
                    <div class="flexrow resource-row">
                        <span class="align-center">
                            <label for="system.personal.level">{{localize "T.LEVEL"}}</label>
                            <input type="number" class="blank short" name="system.personal.level" value="{{system.personal.level}}" placeholder="0" />
                        </span>
                        <span class="align-center">
                            <label for="system.personal.xp">{{localize "T.XP"}}:</label>
                            <input type="number" class="blank short" name="system.personal.xp" value="{{system.personal.xp}}" placeholder="0" />
                        </span>
                    </div>
                    <div class="flex row space-between resource-row">
                        <span>
                            <input type="text" class="blank" name="system.personal.background" value="{{system.personal.background}}" placeholder="Background" />
                        </span>
                        <span>
                            <input type="text" class="blank" name="system.personal.alignment" value="{{system.personal.alignment}}" placeholder="Alignment" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="roll-button">{{!-- THIS IS ROOLL BUTTON MADE FROM BACKGROUNDS--}}</div>
            <div class="side-column grid">
                <div>
                    <div class="flex row attribute">
                        <input type="number" class="short" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}" />
                        <label class="rollable" for="system.attributes.strength.value" data-key="strength">{{localize 'T.STRENGTH'}}</label>
                    </div>
                    <div class="flex row aspect">
                        <input type="number" class="short" name="system.aspects.bra.value" value="{{system.aspects.bra.value}}" />
                        <label class="rollable {{#ifCond system.aspects.bra.cap '==' 7}}underlined-attribute{{/ifCond}}" for="system.aspects.bra.value" data-key="bra" data-cap="{{system.aspects.bra.cap}}">{{localize 'T.ASPECT_BRA'}}</label>
                    </div>
                    <div class="flex row aspect">
                        <input type="number" class="short" name="system.aspects.agi.value" value="{{system.aspects.agi.value}}" />
                        <label class="rollable {{#ifCond system.aspects.agi.cap '==' 7}}underlined-attribute{{/ifCond}}" for="system.aspects.agi.value" data-key="agi" data-cap="{{system.aspects.agi.cap}}">{{localize 'T.ASPECT_AGI'}}</label>
                    </div>
                    <div class="flex row aspect">
                        <input type="number" class="short" name="system.aspects.met.value" value="{{system.aspects.met.value}}" />
                        <label class="rollable {{#ifCond system.aspects.met.cap '==' 7}}underlined-attribute{{/ifCond}}" for="system.aspects.met.value" data-key="met" data-cap="{{system.aspects.met.cap}}">{{localize 'T.ASPECT_MET'}}</label>
                    </div>
                </div>
                <div>
                    <div class="flex row attribute">
                        <input type="number" class="short" name="system.attributes.craft.value" value="{{system.attributes.craft.value}}" />
                        <label class="rollable" for="system.attributes.craft.value" data-key="craft">{{localize 'T.CRAFT'}}</label>
                    </div>
                    <div class="flex row aspect">
                        <input type="number" class="short" name="system.aspects.ins.value" value="{{system.aspects.ins.value}}" />
                        <label class="rollable {{#ifCond system.aspects.ins.cap '==' 7}}underlined-attribute{{/ifCond}}" for="system.aspects.ins.value" data-key="ins" data-cap="{{system.aspects.ins.cap}}">{{localize 'T.ASPECT_INS'}}</label>
                    </div>
                    <div class="flex row aspect">
                        <input type="number" class="short" name="system.aspects.wit.value" value="{{system.aspects.wit.value}}" />
                        <label class="rollable {{#ifCond system.aspects.wit.cap '==' 7}}underlined-attribute{{/ifCond}}" for="system.aspects.wit.value" data-key="wit" data-cap="{{system.aspects.wit.cap}}">{{localize 'T.ASPECT_WIT'}}</label>
                    </div>
                    <div class="flex row aspect">
                        <input type="number" class="short" name="system.aspects.res.value" value="{{system.aspects.res.value}}" />
                        <label class="rollable {{#ifCond system.aspects.res.cap '==' 7}}underlined-attribute{{/ifCond}}" for="system.aspects.res.value" data-key="res" data-cap="{{system.aspects.res.cap}}">{{localize 'T.ASPECT_RES'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="flex row space-between single-row">
            <div class="flex row align-center life-fate-box">
                <label for="system.derived.life.value">{{localize "T.LIFE"}}:&nbsp; </label>
                <input type="number" class="short" name="system.derived.life.value" value="{{system.derived.life.value}}" />
                <span>/&nbsp;</span>
                <input type="number" class="short" name="system.derived.life.max" value="{{system.derived.life.max}}" />
            </div>
            <div class="flex row align-center wounds">
                <label>{{localize "T.WOUNDS"}}:&nbsp;</label>
                <a class="cancel-btn size12" title="{{localize 'T.WND0'}}"><i class="fas fa-ban"></i></a>
                <a class="btn size12 {{#ifCond system.wounds.value '>=' 1}}selected{{/ifCond}}" data-value="1" title="{{localize 'T.WND1'}}"><i class="fas fa-tint"></i></a>
                <a class="btn size12 {{#ifCond system.wounds.value '>=' 2}}selected{{/ifCond}}" data-value="2" title="{{localize 'T.WND2'}}"><i class="fas fa-tint"></i></a>
                <a class="btn size12 {{#ifCond system.wounds.value '>=' 3}}selected{{/ifCond}}" data-value="3" title="{{localize 'T.WND3'}}"><i class="fas fa-tint"></i></a>
                <a class="btn size12 {{#ifCond system.wounds.value '>=' 4}}selected{{/ifCond}}" data-value="4" title="{{localize 'T.WND4'}}"><i class="fas fa-tint"></i></a>
                <a class="btn size12 {{#ifCond system.wounds.value '>=' 5}}selected{{/ifCond}}" data-value="5" title="{{localize 'T.WND5'}}"><i class="fas fa-tint"></i></a>
            </div>
            <div class="flex row align-center deathtests">
                <!-- <label>{{localize "T.DEATH_SAVE"}}:&nbsp;</label> -->
                <a class="cancel-btn size12" title="{{localize 'T.DTH0'}}"><i class="fas fa-ban"></i></a>
                <a class="btn size12 {{#ifCond system.death_tests.value '<=' -8}}selected{{/ifCond}}" data-value="-8" title="{{localize 'T.DTH1'}}"><i class="fas fa-skull-crossbones"></i></a>
                <a class="btn size12 {{#ifCond system.death_tests.value '<=' -9}}selected{{/ifCond}}" data-value="-9" title="{{localize 'T.DTH2'}}"><i class="fas fa-skull-crossbones"></i></a>
                <a class="btn size12 {{#ifCond system.death_tests.value '<=' -10}}selected{{/ifCond}}" data-value="-10" title="{{localize 'T.DTH3'}}"><i class="fas fa-skull-crossbones"></i></a>
                <a class="btn size12 {{#ifCond system.death_tests.value '<=' -11}}selected{{/ifCond}}" data-value="-11" title="{{localize 'T.DTH4'}}"><i class="fas fa-skull-crossbones"></i></a>
                <a class="btn size12 {{#ifCond system.death_tests.value '<=' -12}}selected{{/ifCond}}" data-value="-12" title="{{localize 'T.DTH5'}}"><i class="fas fa-skull-crossbones"></i></a>
            </div>
            <div class="flex row align-center life-fate-box">
                <label for="system.fate.value">{{localize 'T.FATE'}}:&nbsp;</label>
                <input type="number" class="short" name="system.fate.value" value="{{system.fate.value}}" />
                <span>/&nbsp;</span>
                <input type="number" class="short" name="system.fate.max" value="{{system.fate.max}}" />
            </div>
        </div>
        <hr />
        <div class="flex row space-between single-row">
            <div class="flex row align-center">
                <span class="armor-box small size12">
                    <label><strong>{{system.derived.armor.value}}</strong></label>
                </span>
            </div>
            <div class="flex row align-center">
                <span class="size12">
                    <i class="fas fa-weight-hanging"></i>
                    <label><strong>{{system.derived.load.value}}</strong></label>
                    <span> / </span>
                    <label><strong>{{system.derived.load.max}}</strong></label>
                </span>
            </div>
            <div class="flex row align-center size12">
                <label for="system.damage_modifier.physical.mod">{{localize 'T.PHYSICAL_DMG_ABB'}} : {{system.attributes.strength.value}} + </label>
                <input type="number" class="input-underlined short" name="system.damage_modifier.physical.mod" value="{{system.damage_modifier.physical.mod}}" placeholder="0" />
                <label for="system.damage_modifier.physical.value"> = <strong>{{system.damage_modifier.physical.value}}</strong></label>
            </div>
            <div class="flex row align-center size12">
                <label for="system.damage_modifier.psychic.mod">{{localize 'T.PSYCHIC_DMG_ABB'}} : {{system.attributes.craft.value}} + </label>
                <input type="number" class="input-underlined short" name="system.damage_modifier.psychic.mod" value="{{system.damage_modifier.psychic.mod}}" placeholder="0" />
                <label for="system.damage_modifier.psychic.value"> = <strong>{{system.damage_modifier.psychic.value}}</strong></label>
            </div>
            <div class="flex row align-center size12">
                <label>{{localize 'T.SPEED'}}: <strong>{{system.derived.speed.value}}</strong></label>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize 'T.ABILITIES'}}</a>
        <a class="item" data-tab="combat">{{localize 'T.COMBAT'}}</a>
        <a class="item" data-tab="spells">{{localize 'T.SPELLS'}}</a>
        <a class="item" data-tab="items">{{localize 'T.INVENTORY'}}</a>
        <a class="item" data-tab="followers">{{localize 'T.FOLLOWERS'}}</a>
        <a class="item" data-tab="description">{{localize 'T.DESCRIPTION'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="flex column papirus-box">
                <h3 class="uppercase flex flex-center"><strong>{{localize 'T.SKILLS'}}</strong></h3>
                <ol class="grid grid-2col items-list">
                    {{#each skills as |item id|}}
                    <li class="item flex row space-between" data-item-id="{{item._id}}">
                        <div class="flex column">
                            <span class="flex row">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                <a class="item-name skill rollable"><strong>{{item.name}}</strong></a>
                            </span>
                            <span class="size10" style="padding-left: 30px">{{system.focus}}</span>
                        </div>
                        <div class="item-controls">
                            <a class="item-control chaty" title='{{localize "T.SEND_TO_CHAT"}}' data-item-id="{{item._id}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="flex column papirus-box">
                <h3 class="uppercase flex flex-center"><strong>{{localize 'T.SPECIAL_ABILITIES'}}</strong></h3>
                <ol class="grid grid-2col items-list">
                    {{#each abilities as |item id|}}
                    <li class="item flex row space-between" data-item-id="{{item._id}}">
                        <span class="flex row">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                            <a class="item-name ability rollable"><strong>{{item.name}}</strong></a>
                        </span>
                        <div class="item-controls">
                            <a class="item-control chaty" title='{{localize "T.SEND_TO_CHAT"}}' data-item-id="{{item._id}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="flexcol flex-group-center flex-center papirus-box">
                <label class="capitalize"><strong>{{system.equipped_armor.name}}</strong></label>

                {{#ifCond system.equipped_armor.system.armor_type '!=' 'shield'}} {{#ifCond system.equipped_armor.system.armor_type '!=' 'helm'}}
                <div class="flex row flex-center margin">
                    <span class="armor-box">
                        <label>{{system.equipped_armor.system.rating.value}}</label>
                    </span>
                    {{#each system.equipped_armor.system.points as |status index|}}
                    <a class="armor-point {{#ifCond status '==' 0}}new{{/ifCond}} {{#ifCond status '==' 1}}damaged{{/ifCond}} {{#ifCond status '==' 2}}destroyed{{/ifCond}}" data-max="{{../system.rating.max}}" data-status="{{status}}" data-index="{{index}}" data-item_id="{{../../system.id}}">
                        {{#ifCond status '==' 0}}<i class="far fa-circle"></i>{{/ifCond}} {{#ifCond status '==' 1}}<i class="fas fa-ban"></i>{{/ifCond}}
                        {{#ifCond status '==' 2}}<i class="far fa-times-circle"></i>{{/ifCond}}
                    </a>
                    {{/each}}
                </div>
                {{/ifCond}} {{/ifCond}}
            </div>
            <div>
                {{!-- WEAPONS --}}
                <div class="flex column papirus-box">
                    <h3 class="uppercase flex flex-center"><strong>{{localize 'T.WEAPONS'}}</strong></h3>
                    <div class="flexrow">
                        <ol class="items-list">
                            <li class="item flexrow item-header">
                                <span class="flex row f2">
                                    <div class="item-name">{{localize 'T.NAME'}}</div>
                                    <div class="item-image"></div>
                                </span>
                                <div class="item-stats flexrow flex-center f3">
                                    <span>{{localize 'T.BONUS'}}</span>
                                    <span>{{localize 'T.DAMAGE'}}</span>
                                    <span>{{localize 'T.RANGE'}}</span>
                                </div>
                                <div class="item-controls f1">
                                    <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                                </div>
                            </li>
                            {{#each weapons as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <span class="flex row weapon rollable f2">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                    <h4 class="item-name">{{item.name}}</h4>
                                </span>
                                <div class="item-stats flexrow flex-center f3">
                                    <span>{{item.system.bonus.value}}</span>
                                    <span class="weapon-damage rollable">{{item.system.damage.value}}</span>
                                    <span>{{item.system.range.optimal}}/{{item.system.range.max}}</span>
                                </div>
                                <div class="item-controls f1">
                                    <a class="item-control chaty" title='{{localize "T.SEND_TO_CHAT"}}' data-item-id="{{item._id}}"><i class="fas fa-comment"></i></a>
                                    <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
                {{!-- ARMOR --}}
                <div class="flex column papirus-box">
                    <h3 class="uppercase flex flex-center"><strong>{{localize 'T.ARMOR'}}</strong></h3>
                    <div class="flexrow">
                        <ol class="items-list">
                            <li class="item flexrow item-header">
                                <span class="flex row">
                                    <div class="item-name">{{localize 'T.NAME'}}</div>
                                    <div class="item-image"></div>
                                </span>
                                <div class="item-stats flex flex-center">{{localize 'T.RATING'}}</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                                </div>
                            </li>
                            {{#each armor as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <span class="flex row">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                    <h4 class="item-name">{{item.name}}</h4>
                                </span>
                                <div class="item-stats flex flex-center">{{item.system.rating.value}} / {{item.system.rating.max}}</div>
                                <div class="item-controls">
                                    <a class="item-control chaty" title='{{localize "T.SEND_TO_CHAT"}}' data-item-id="{{item._id}}"><i class="fas fa-comment"></i></a>
                                    <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-equip {{#unless item.system.equipped}}item-unequipped{{/unless}}" title='{{localize "T.EQUIPPED"}}'>
                                        <i class="fas fa-tshirt"></i>
                                    </a>
                                    <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Spell Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <div class="flex column full">
                <div class="flexrow flex-center papirus-box">
                    <span>
                        <label class="resource-label" for="system.derived.spell_points.value">{{localize 'T.SPELL_POINTS'}}</label>
                        <input type="number" class="short" name="system.derived.spell_points.value" value="{{system.derived.spell_points.value}}" />
                        <span>/&nbsp;</span>
                        <input type="number" class="short" name="system.derived.spell_points.max" value="{{system.derived.spell_points.max}}" />
                    </span>
                </div>
                <div class="grid grow">
                    <div class="flex column papirus-box">
                        <h3 class="uppercase flex flex-center">{{localize 'T.SPELLS'}}</h3>
                        <div class="flexrow">
                            <ol class="items-list">
                                <li class="item flexrow item-header">
                                    <div class="item-name">{{localize 'T.NAME'}}</div>
                                    <div class="item-image"></div>
                                    <div class="item-controls">
                                        <a class="item-control item-create" title="Create item" data-type="spell"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                                    </div>
                                </li>
                                {{#each spells as |item id|}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <div class="flex column" style="flex: 3">
                                        <span class="flex row">
                                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                            <a class="item-name spell rollable"><strong>{{item.name}}</strong></a>
                                        </span>
                                        <span class="size10" style="padding-left: 30px">{{localize 'T.ACTION'}}: {{localize (toUpperCase (concat 'T.' item.system.action))}} | {{localize
                                            'T.SPELL_POINTS_ABB'}}: {{item.system.spell_points}}
                                        </span>
                                        {{#ifCond item.system.damage.value '!=' ''}}
                                        <span class="spell-damage rollable size12" style="padding-left: 30px">{{localize 'T.DAMAGE'}}={{item.system.damage.value}}</span>
                                        {{/ifCond}}
                                        <span class="size12 flexrow" style="padding-left: 30px">
                                            <a class="item-control item-memorise {{#unless item.system.memorised}}item-notmemorised{{/unless}}" title='{{localize "T.MEMORISED"}}' data-item-id="{{item._id}}"><i class="fas fa-brain"></i>{{localize "T.MEMORISED"}}</a>
                                            <a class="item-control item-endure {{#unless item.system.enduring}}item-notenduring{{/unless}}" title='{{localize "T.ENDURING"}}' data-item-id="{{item._id}}"><i class="fas fa-lock"></i>{{localize "T.ENDURING"}}</a>
                                        </span>
                                        <span class="spell-description rollable size12" style="padding-left: 30px">{{localize 'T.DESCRIPTION'}}</span>
                                    </div>
                                    <div class="item-controls">
                                        <a class="item-control chaty" title='{{localize "T.SEND_TO_CHAT"}}' data-item-id="{{item._id}}"><i class="fas fa-comment"></i></a>
                                        <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                    <div class="flex column papirus-box">
                        <h3 class="uppercase flex flex-center">{{localize 'T.DESCRIPTION'}}</h3>
                        <div class="spell-description-box">...</div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Gear Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="flexrow full">
                <div class="flex column papirus-box">
                    <div class="flexrow flex-group-left margin-bottom">
                        <label for="system.gold" class="resource-label">{{localize 'T.GOLD'}}</label>
                        <input type="text" style="text-align: center" name="system.gold" value="{{system.gold}}" />
                    </div>
                    <h3 class="uppercase flex flex-center">{{localize 'T.GEAR'}}</h3>
                    <div class="flexrow">
                        <ol class="items-list">
                            <li class="item flexrow item-header">
                                <div class="item-name">{{localize 'T.NAME'}}</div>
                                <div class="item-image"></div>
                                <div class="item-stats flex flex-center">{{localize 'T.LOAD'}}</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                                </div>
                            </li>
                            {{#each gear as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-stats flex flex-center">
                                    {{#unless item.system.packed}} {{math item.system.weight "*" item.system.quantity}} {{/unless}} {{#if item.system.packed}} {{packed
                                    item.system.weight item.system.quantity}} {{/if}}
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-pack {{#unless item.system.packed}}item-unpacked{{/unless}}" title='{{localize "T.PACKED"}}'>
                                        <i class="fas fa-briefcase"></i>
                                    </a>
                                    <a class="item-control chaty" data-item-id="{{item._id}}" title='{{localize "T.SEND_TO_CHAT"}}'><i class="fas fa-comment"></i></a>
                                    <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="flex column full papirus-box">
                    <h3 class="uppercase flex flex-center">{{localize 'T.JOURNAL'}}</h3>
                    <textarea class="flex full" name="system.journal">{{system.journal}}</textarea>
                </div>
            </div>
        </div>

        {{!-- Followers Tab --}}
        <div class="tab followers" data-group="primary" data-tab="followers">
            <div class="">
                <ol class="items-list">
                    {{#each followers as |item id|}}
                    <li class="item follower" data-item-id="{{item._id}}">
                        <div class="flex row space-between margin-bottom">
                            <div class="flex row align-center" style="flex-basis: 40%">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                <label class="resource-label size14">{{item.name}}</label>
                            </div>
                            <div class="flex row align-center size12">
                                <span class="resource">{{localize "T.STRENGTH"}} {{item.system.strength.value}}</span>
                                <span class="resource">{{localize "T.CRAFT"}} {{item.system.craft.value}}</span>
                                <span class="resource"><i class="fas fa-handshake" title="{{localize 'T.LOYALTY'}}"></i> {{item.system.loyalty.value}}</span>
                                <span class="resource"><i class="fas fa-heart" title="{{localize 'T.LIFE'}}"></i> {{item.system.life.value}}</span>
                                <span class="resource"><i class="fas fa-shield-alt" title="{{localize 'T.ARMOR'}}"></i> {{item.system.armor.value}}</span>
                            </div>
                            <div class="item-controls">
                                <a class="item-control chaty" title='{{localize "T.SEND_TO_CHAT"}}' data-item-id="{{item._id}}"><i class="fas fa-comment"></i></a>
                                <a class="item-control item-edit" title='{{localize "T.EDIT"}}'><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title='{{localize "T.DELETE"}}'><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="grid grid-3col benefit-list">
                            <div class="benefit flex column align-baseline">
                                {{#ifCond item.system.benefits.benefit1.name '!=' ""}}
                                <label class="size12"><strong>{{item.system.benefits.benefit1.name}}</strong>&nbsp;</label>
                                <label class="size10">{{item.system.benefits.benefit1.category}} | {{item.system.benefits.benefit1.level}}</label>
                                <p class="size10">{{item.system.benefits.benefit1.description}}</p>
                                {{/ifCond}}
                            </div>
                            <div class="benefit flex column align-baseline">
                                {{#ifCond item.system.benefits.benefit2.name '!=' ""}}
                                <label class="size12"><strong>{{item.system.benefits.benefit2.name}}</strong>&nbsp;</label>
                                <label class="size10">{{item.system.benefits.benefit2.category}} | {{item.system.benefits.benefit2.level}}</label>
                                <p class="size10">{{item.system.benefits.benefit2.description}}</p>
                                {{/ifCond}}
                            </div>
                            <div class="benefit flex column align-baseline">
                                {{#ifCond item.system.benefits.benefit3.name '!=' ""}}
                                <label class="size12"><strong>{{item.system.benefits.benefit3.name}}</strong>&nbsp;</label>
                                <label class="size10">{{item.system.benefits.benefit3.category}} | {{item.system.benefits.benefit3.level}}</label>
                                <p class="size10">{{item.system.benefits.benefit3.description}}</p>
                                {{/ifCond}}
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="flex row full">
                <div class="flex column f1" style="margin-right: 10px">
                    <div class="profile-image-box">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
                    </div>
                    <div class="flexrow resource-row">
                        <span class="flex row align-baseline">
                            <label for="system.personal.age" class="resource-label">{{localize 'T.AGE'}}:&nbsp</label>
                            <input type="text" class="blank" name="system.personal.age" value="{{system.personal.age}}" />
                        </span>
                    </div>
                    <div class="flexrow resource-row">
                        <span class="flex row align-baseline">
                            <label for="system.personal.height" class="resource-label">{{localize 'T.HEIGHT'}}:&nbsp</label>
                            <input type="text" class="blank" name="system.personal.height" value="{{system.personal.height}}" />
                        </span>
                        <span class="flex row align-baseline">
                            <label for="system.personal.weight" class="resource-label">{{localize 'T.WEIGHT'}}:&nbsp</label>
                            <input type="text" class="blank" name="system.personal.weight" value="{{system.personal.weight}}" />
                        </span>
                    </div>
                    <div class="flexrow resource-row">
                        <span class="flex row align-baseline">
                            <label for="system.personal.eyes" class="resource-label">{{localize 'T.EYES'}}:&nbsp</label>
                            <input type="text" class="blank" name="system.personal.eyes" value="{{system.personal.eyes}}" />
                        </span>
                    </div>
                    <div class="flexrow resource-row">
                        <span class="flex row align-baseline">
                            <label for="system.personal.hair" class="resource-label">{{localize 'T.HAIR'}}:&nbsp</label>
                            <input type="text" class="blank" name="system.personal.hair" value="{{system.personal.hair}}" />
                        </span>
                    </div>
                </div>
                <div class="flex column f2 papirus-box">
                    {{editor biographyHTML target="system.biography" button=true owner=owner editable=true}}
                </div>
            </div>
        </div>
    </section>
</form>