<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="enemy-header">
        <div class="flexrow">
            <div>
                <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" height="120" width="120" />
            </div>
            <div class="header-fields">
                <h3 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h3>
                <div class="grid">
                    <div class="flex-group-center">
                        <label for="system.attributes.strength.value" class="attribute rollable" data-attribute="{{system.attributes.strength.value}}">{{localize 'T.STRENGTH'}}</label>
                        <input type="number" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}">
                    </div>
                    <div class="flex-group-center">
                        <label for="system.attributes.craft.value" class="attribute rollable" data-attribute="{{system.attributes.craft.value}}">{{localize 'T.CRAFT'}}</label>
                        <input type="number" name="system.attributes.craft.value" value="{{system.attributes.craft.value}}">
                    </div>
                    <div class="flex-group-center">
                        <label for="system.attributes.threat">{{localize 'T.THREAT'}}</label>
                        <input type="number" name="system.attributes.threat" value="{{system.attributes.threat}}">
                    </div>
                    <div class="flex-group-center">
                        <label for="system.derived.life.value">{{localize 'T.LIFE'}}</label>
                        <span class="flex row space-between">
                            <input type="number" name="system.derived.life.value" value="{{system.derived.life.value}}">
                            <span> / </span>
                            <input type="number" name="system.derived.life.max" value="{{system.derived.life.max}}">
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex" style="flex-flow: row-reverse;">
                <div class="roll-button">
                    {{!-- THIS IS ROOLL BUTTON MADE FROM BACKGROUNDS--}}
                </div>
            </div>
        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize 'T.ABILITIES'}}</a>
        <a class="item" data-tab="description">{{localize 'T.DESCRIPTION'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="grid grid-2col" style="height: 90%;">
                <div>
                    <div class="flex-group-center margin-bottom">
                        <label for="system.armor.name">{{localize 'T.ARMOR'}}</label>
                        <input type="text" class="margin-bottom" name="system.armor.name" value="{{system.armor.name}}" placeholder="{{localize 'T.NAME'}}">
                        <span class="flex row space-between">
                            <input type="number" name="system.armor.value" value="{{system.armor.value}}">
                            <span> / </span>
                            <input type="number" name="system.armor.max" value="{{system.armor.max}}">
                        </span>
                    </div>
                    <div class="flex-group-center margin-bottom enemy-attacks">
                        <div class="flex row space-between align-baseline enemy-attacks-count">
                            <label for="system.armor.name">{{localize 'T.NUM_OF_ATTACKS'}}</label>
                            <input type="number" class="short" name="system.attack_number" value="{{system.attack_number}}">
                        </div>

                        <ol class="margin-bottom items-list">
                            <li class="item flex row space-between">
                                <div class="flex column">
                                    <span class="flex row">
                                        <a class="item-name"><strong>{{localize 'T.NAME'}}</strong></a>
                                        <div class="item-image"></div>
                                    </span>
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="enemy_attack"><i class="fas fa-plus"></i>{{localize 'T.ADD'}}</a>
                                </div>
                            </li>
                            {{#each attacks as |item id|}}
                            <li class="item flex row space-between" data-item-id="{{item._id}}" data-formula="{{system.damage}}">
                                <div class="flex column">
                                    <span class="flex row">
                                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                        <a class="item-name attack rollable"><strong>{{item.name}}</strong></a>
                                    </span>
                                    <span class="attack rollable size12" style="padding-left: 30px;">{{localize 'T.DAMAGE'}} : {{system.damage}} ({{system.type}})</span>
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                    <div class="flex-group-center margin-bottom">
                        <label for="system.derived.speed">{{localize 'T.SPEED'}}</label>
                        <input type="text" name="system.derived.speed.value" value="{{system.derived.speed.value}}">
                    </div>
                </div>
                <div>
                    <h3>{{localize 'T.SPECIAL_ABILITIES'}} & {{localize 'T.BENEFITS'}}</h3>
                    <div class="papirus-box" style="height: 90%;">
                        {{editor specialAbilitiesHTML target="system.special_abilities" button=true owner=owner editable=true}}                        
                    </div>
                </div>

            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.biography" button=true owner=owner editable=true}}
        </div>
    </section>
</form>