<div class="talisman chat-item">
    <div class="border">
        <h3>{{name}}</h3>
        
        {{#if img}}
        <img class="item-img" src="{{img}}" title="{{name}}" />
        {{/if}}

        {{#if isSkill}}
        <span><strong>{{localize "T.FOCUS"}}:</strong> {{focus}}</span>       
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if isAbility}}
        <p><strong>{{localize "T.TYPE"}}:</strong> {{ability_type}}</p>
        <p><strong>{{localize "T.PREREQUISITE"}}:</strong> {{prerequisite}}</p>      
        <p><strong>{{localize "T.IMPROVED"}}:</strong> {{improved}}</p>      
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if isWeapon}}
        <p><strong>{{localize "T.TYPE"}}:</strong> {{weapon_type}}</p>
        <p><strong>{{localize "T.ATTACK_BONUS"}}:</strong> {{bonus.value}}</p>      
        <p><strong>{{localize "T.DAMAGE"}}:</strong> {{damage.value}}</p>
        <p><strong>{{localize "T.RANGE"}}:</strong> {{range.optimal}} / {{range.max}}</p>
        <div class="features">{{{features}}}</div>  
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if isArmor}}
        <p><strong>{{localize "T.TYPE"}}:</strong> {{armor_type}}</p>
        <p><strong>{{localize "T.RATING"}}:</strong> {{rating.value}} / {{rating.max}}</p>
        <div class="flex row wrap">
            <span><strong>{{localize "T.ARMOR_POINTS"}}:</strong></span>
            {{#each points as |p index|}}
            {{#ifCond p '==' 0}}<span><i class="far fa-circle"></i></span> {{/ifCond}}
            {{#ifCond p '==' 1}}<span><i class="fas fa-ban"></i></span> {{/ifCond}}
            {{#ifCond p '==' 2}}<span><i class="far fa-times-circle"></i></span> {{/ifCond}}
            {{/each}}
        </div>
        <p><strong>{{localize "T.AGI_PENALTY"}}:</strong> {{agi_penalty}}</p>        
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if isSpell}}
        <p><strong>{{localize "T.LEVEL"}}:</strong> {{localize (concat 'T.SPELL_LEVEL_' level)}}</p>     
        <p><strong>{{localize "T.TYPE"}}:</strong> {{localize (toUpperCase (concat 'T.SPELL_TYPE_' type))}}</p>   
        <p><strong>{{localize "T.SPELL_POINTS"}}:</strong> {{spell_points}}</p>
        <p><strong>{{localize "T.ACTION"}}:</strong> {{localize (toUpperCase (concat 'T.' action))}}</p>  
        <p><strong>{{localize "T.DIFFICULTY"}}:</strong> {{difficulty}}</p>  
        <p><strong>{{localize "T.DEFENCE"}}:</strong> {{defence}}</p>
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if isGear}}
        <p><strong>{{localize "T.QUANTITY"}}:</strong> {{quantity}}</p>       
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if isFollower}}
        <div class="loyalty"><strong>{{localize "T.LOYALTY"}}:</strong> {{loyalty.value}} / {{loyalty.max}}</div>  
        <div class="flexrow">
            <span><strong>{{localize "T.STRENGTH"}}:</strong> {{strength.value}}</span>  
            <span><strong>{{localize "T.CRAFT"}}:</strong> {{craft.value}}</span>  
        </div>
        <div class="flexrow">
            <span><strong>{{localize "T.LIFE"}}:</strong> {{life.value}} / {{life.max}}</span>  
            <span><strong>{{localize "T.ARMOR"}}:</strong> {{armor.value}} / {{armor.max}}</span>  
        </div>
        <hr>
        <div>
            <p class="benefit-name">{{benefits.benefit1.name}}</p>
            <div class="flexrow">
                <span><strong>{{localize "T.CATEGORY"}}:</strong> {{localize (toUpperCase (concat 'T.' benefits.benefit1.category))}}</span>  
                <span><strong>{{localize "T.LEVEL"}}:</strong> {{localize (toUpperCase (concat 'T.' benefits.benefit1.level))}}</span>  
            </div>
            <span class="benefit-desc">{{benefits.benefit1.description}}</span>
        </div>
        {{#ifCond benefits.benefit2.name '!=' ""}}
        <hr>
        <div>
            <p class="benefit-name">{{benefits.benefit2.name}}</p>
            <div class="flexrow">
                <span><strong>{{localize "T.CATEGORY"}}:</strong> {{localize (toUpperCase (concat 'T.' benefits.benefit2.category))}}</span>  
                <span><strong>{{localize "T.LEVEL"}}:</strong> {{localize (toUpperCase (concat 'T.' benefits.benefit2.level))}}</span>  
            </div>
            <span class="benefit-desc">{{benefits.benefit2.description}}</span>
        </div>
        {{/ifCond}}
        {{#ifCond benefits.benefit3.name '!=' ""}}
        <hr>
        <div>
            <p class="benefit-name">{{benefits.benefit3.name}}</p>
            <div class="flexrow">
                <span><strong>{{localize "T.CATEGORY"}}:</strong> {{localize (toUpperCase (concat 'T.' benefits.benefit3.category))}}</span>  
                <span><strong>{{localize "T.LEVEL"}}:</strong> {{localize (toUpperCase (concat 'T.' benefits.benefit3.level))}}</span>  
            </div>
            <span class="benefit-desc">{{benefits.benefit3.description}}</span>
        </div>
        {{/ifCond}}
        <hr><h4>{{localize 'T.DESCRIPTION'}}:</h4>
        <div class="description">{{{description}}}</div>
        <hr>
        {{/if}}

        {{#if weight}}
        <p><strong>{{localize "T.LOAD"}}:</strong> {{weight}}</p>
        {{/if}}
        {{#if cost}}
        {{#ifCond cost '!=' 0}}
        <p><strong>{{localize "T.COST"}}:</strong> {{cost}}</p>
        {{/ifCond}}
        {{/if}}

    </div>
</div>
