<div class="talisman chat-item">
    {{#if discardable}}
    <p>Click a die you want to discard</p>
    {{/if}}
    <div class="flex row align-center">
        {{#each baseDice}}
        <a class="{{#if ../discardable}}dice-discardable{{/if}} dice-image" data-index={{@index}}><img src="systems/talisman/ui/dice/tdb{{this}}.png"></a>
        {{/each}}
        <a class="kismet-dice dice-image"><img src="systems/talisman/ui/dice/tdk{{kismetDice}}.png"></a>
    </div>
    <div class="flex row aspect-label">
        <span>Aspect:&nbsp;</span><span>{{aspect}}</span>&nbsp;|&nbsp;
        <span>Focus:&nbsp;</span><span>{{focus}}</span>&nbsp;|&nbsp;
        <span>Modifier:&nbsp;</span><span>{{modifier}}</span>
        {{#ifCond wounds '<' 0}}
        <span>&nbsp;|&nbsp;<i class="fas fa-tint"></i>: {{wounds}}</span>
        {{/ifCond}}
        {{#ifCond armorPenalty '<' 0}}
        <span>&nbsp;|&nbsp;<i class="fas fa-tshirt"></i>: {{armorPenalty}}</span>
        {{/ifCond}}
    </div> 
    <hr>
    <div class="grid">
        <div class="total-label">
            <label>Total:&nbsp;<span class="total-value">{{total}}</span></label>
        </div>
        <div class="success-label">
            <span class="success-value">{{successLevel}}</span>
        </div>
    </div>   
</div>