.chat-message {
    div {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    .total-label {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 14px;
    }
    .success-label {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        line-height: 14px;
        font-weight: 700;
    }
    .aspect-label {
        font-size: 10px;
    }
}
.dice-image {
    img {
        width: 30px;
        height: 30px;
        margin-right: 0.5em;
    }

    opacity: 1;
    &.discarded {
        opacity: 0.3;
    }
}
