.item-form {
    font-family: $font-primary;
}

.actor-header {
    flex: unset;
    padding: 5px;
    //border: 1px solid #0000006b;
    border: 10px solid transparent;
    border-image: url(../ui/border.png) 50 stretch;
    //background-color: rgba(240, 248, 255, 0.2);
    //margin-bottom: 10px;
    .grid {
        margin-top: 0px;
    }
    .side-column {
        width: 220px;
        .attribute,
        .aspect {
            align-items: baseline;
            margin-bottom: 0.2em;
        }
        .attribute {
            font-weight: bold;
        }
    }

    .resource-row {
        margin-bottom: 0.2em;
        font-size: 12px;
        line-height: 12px;
    }

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
    }
}

.sheet-tabs {
    flex: 0;
    border-top: none !important;
    border-bottom: none !important;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: 100%;
}
.sheet-body {
    border: 10px solid transparent;
    border-image: url(../ui/border.png) 50 stretch;
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}

input[type="number"] {
    min-width: 2em;
    max-width: 2em;
    text-align: center;
    margin-right: 0.5em;
}

.input-underlined {
    background: unset;
    border: unset;
    border-bottom: 1px solid;
    border-radius: 0;
    margin-right: 0.5em;
}

.wound-btn {
    color: black;
    opacity: 0.5;
    min-width: 1.2em;
    text-align: center;
    margin-right: 0.2em;
    &.selected {
        color: red;
        opacity: 1;
    }
}

.single-row {
    max-height: 3em;
}
