<form class="{{cssClass}}" autocomplete="off">
    <header class="item-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h3 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Quantity</label>
                  <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Weight</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol">
                <div class="flex row align-center">
                    <label for="data.rating.max">{{localize "T.ARMOR_POINTS"}}:&nbsp;</label>
                    <input type="number" name="data.rating.max" value="{{data.rating.max}}">
                </div>
                <div class="flex row">
                    {{#each data.points as |status index|}}                    
                    <a class="armor-point {{#ifCond status '==' 0}}new{{/ifCond}}  {{#ifCond status '==' 1}}damaged{{/ifCond}}  {{#ifCond status '==' 2}}destroyed{{/ifCond}}" data-max="{{../data.rating.max}}" data-status="{{status}}" data-index="{{index}}" data-item_id="{{../item._id}}">
                        {{#ifCond status '==' 0}}<i class="far fa-circle"></i>{{/ifCond}}
                        {{#ifCond status '==' 1}}<i class="fas fa-ban"></i>{{/ifCond}}
                        {{#ifCond status '==' 2}}<i class="far fa-times-circle"></i>{{/ifCond}}
                    </a>
                    {{/each}}               
                </div>
            </div>
        </div>
    </section>
</form>
