<form class="{{cssClass}}" autocomplete="off">
    {{> systems/talisman/templates/item/partials/item-header.html}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="item-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true owner=isOwner editable=true}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            <div class="grid grid-3col margin">
                <div class="flex column flex-group-center">
                    <label class="resource-label">{{localize "T.WEAPON_TYPE"}}&nbsp;</label>
                    <select name="system.weapon_type">
                        {{#select system.weapon_type}}
                        <option value="melee">{{localize "T.MELEE"}}</option>
                        <option value="range">{{localize "T.RANGE"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div class="flex column flex-group-center">
                    <label class="resource-label">{{localize "T.ASPECT"}}&nbsp;</label>
                    <select name="system.aspect">
                        {{#select system.aspect}}
                        <option value="0">{{localize "T.NO_SKILL"}}</option>
                        <option value="bra">{{localize "T.ASPECT_BRA"}}</option>
                        <option value="agi">{{localize "T.ASPECT_AGI"}}</option>
                        <option value="met">{{localize "T.ASPECT_MET"}}</option>
                        <option value="wit">{{localize "T.ASPECT_WIT"}}</option>
                        <option value="ins">{{localize "T.ASPECT_INS"}}</option>
                        <option value="res">{{localize "T.ASPECT_RES"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div class="flex flex-group-center flex-center">
                    <label for="system.focus" class="checkbox-label resource-label">
                        {{localize 'T.FOCUS'}}
                        <input class="input-checkbox" type="checkbox" name="system.focus" {{checked system.focus}} data-dtype="Boolean" />
                    </label>
                </div>
            </div>

            <div class="grid grid-3col margin">
                <div class="flexcol flex-group-center">
                    <label class="resource-label">{{localize "T.ATTACK_BONUS"}}&nbsp;</label>
                    <input type="number" name="system.bonus.value" value="{{system.bonus.value}}" placeholder="0">
                </div>
                <div class="flexcol flex-group-center">
                    <label class="resource-label">{{localize "T.DAMAGE"}}&nbsp;</label>
                    <input type="text" name="system.damage.value" value="{{system.damage.value}}" placeholder="1d3, 1d6, ...">
                </div>
                <div class="flexcol flex-group-center">
                    <label class="resource-label">{{localize "T.DMG_TYPE"}}&nbsp;</label>
                    <select name="system.damage.type">
                        {{#select system.damage.type}}
                        <option value="physical">{{localize "T.PHYSICAL"}}</option>
                        <option value="psychic">{{localize "T.PSYCHIC"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div class="flex column flex-group-center">
                    <label class="resource-label">{{localize "T.RANGE"}}&nbsp;</label>
                    <div class="flex row">
                        <input type="number" name="system.range.optimal" value="{{system.range.optimal}}">
                        <span>/&nbsp;</span>
                        <input type="number" name="system.range.max" value="{{system.range.max}}">
                    </div>
                </div>
            </div>

            <div class="flex column flex-group-center margin">
                <label class="resource-label">{{localize "T.FEATURES"}}&nbsp;</label>
                <textarea name="system.features">{{system.features}}</textarea>
            </div>


        </div>
    </section>
</form>