<form class="{{cssClass}}" autocomplete="off">
    {{> systems/talisman/templates/item/partials/item-header.html}}
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">        
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="item-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol">
                <div class="flex row flex-group-center margin">
                    <span>
                        <span for="data.rating.max"><strong>{{localize "T.ARMOR_MAX"}}:&nbsp;</strong></span>
                        <input type="number" name="data.rating.max" value="{{data.rating.max}}">
                    </span>                   

                </div>
                {{#ifCond data.armor_type '!=' 'shield'}}
                {{#ifCond data.armor_type '!=' 'helm'}}
                <div class="flex row flex-center margin">
                    <span class="armor-box">
                        <label><strong>{{data.rating.value}}</strong></label>
                    </span>                    
                    {{#each data.points as |status index|}}                                   
                    <a class="armor-point {{#ifCond status '==' 0}}new{{/ifCond}}  {{#ifCond status '==' 1}}damaged{{/ifCond}}  {{#ifCond status '==' 2}}destroyed{{/ifCond}}" data-max="{{../data.rating.max}}" data-status="{{status}}" data-index="{{index}}" data-item_id="{{../item._id}}">
                        {{#ifCond status '==' 0}}<i class="far fa-circle"></i>{{/ifCond}}
                        {{#ifCond status '==' 1}}<i class="fas fa-ban"></i>{{/ifCond}}
                        {{#ifCond status '==' 2}}<i class="far fa-times-circle"></i>{{/ifCond}}
                    </a>
                    {{/each}}               
                </div>
                {{/ifCond}}
                {{/ifCond}}
                <div class="flexrow margin">
                    <span class="flexcolumn flex-center flex-group-center margin">
                        <label class="resource-label" for="data.armor_type">{{localize "T.ARMOR_TYPE"}}:</label>
                        <select name="data.armor_type">
                            {{#select data.armor_type}}
                            <option value="light">{{localize 'T.ARMOR_LIGHT'}}</option>
                            <option value="medium">{{localize 'T.ARMOR_MEDIUM'}}</option>
                            <option value="heavy">{{localize 'T.ARMOR_HEAVY'}}</option>
                            <option value="shield">{{localize 'T.ARMOR_SHIELD'}}</option>
                            <option value="helm">{{localize 'T.ARMOR_HELM'}}</option>
                            {{/select}}
                        </select>
                    </span>
                </div>                
                <div class="flexrow margin">
                    {{#ifCond data.armor_type '!=' 'shield'}}
                    {{#ifCond data.armor_type '!=' 'helm'}}               
                    <span class="flexcolumn flex-group-center margin">
                        <label class="resource-label" for="data.agi_penalty">{{localize "T.AGI_PENALTY"}}:</label>
                        <input type="number" name="data.agi_penalty" value="{{data.agi_penalty}}" class="margin-bottom"> 
                        <label for="data.agi_ignored" class="checkbox-label resource-label">
                            {{localize 'T.AGI_PENALTY_IGNORED'}}
                            <input class="input-checkbox"
                                   type="checkbox"
                                   name="data.agi_ignored"
                                   {{checked data.agi_ignored}}
                                   data-dtype="Boolean" />
                        </label>
                    </span>
                    {{/ifCond}}
                    {{/ifCond}}
                    <span class="flex flex-group-center flex-center margin">
                        <label for="data.equipped" class="checkbox-label resource-label">
                            {{localize 'T.EQUIPPED'}}
                            <input class="input-checkbox"
                                   type="checkbox"
                                   name="data.equipped"
                                   {{checked data.equipped}}
                                   data-dtype="Boolean" />
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </section>
</form>
