<form class="{{cssClass}}" autocomplete="off">
    {{> systems/talisman/templates/item/partials/item-header.html}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="item-body">
        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="grid">
                <div>
                    <label for="system.damage">{{localize 'T.DAMAGE'}}</label>
                    <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6+6... etc">
                </div>
                <div class="flex column">
                    <label for="system.type">{{localize 'T.TYPE'}}</label>
                    <select name="system.type">
                        {{#select system.type}}
                        <option value="physical">{{localize "T.PHYSICAL"}}</option>
                        <option value="psychic">{{localize "T.PSYCHIC"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true owner=isOwner editable=true}}
        </div>
    </section>
</form>