<form class="{{cssClass}}" autocomplete="off">
    {{> systems/talisman/templates/item/partials/item-header.html}} {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="item-body">
        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="flex column">
                <div class="flex row papirus-box flex-center margin-bottom">
                    <label class="resource-label" for="data.loyalty.value">{{localize 'T.LOYALTY'}}</label>
                    <input type="number" name="data.loyalty.value" value="{{data.loyalty.value}}" />
                    <span>/&nbsp</span>
                    <input type="number" name="data.loyalty.max" value="{{data.loyalty.max}}" />
                </div>
                {{!-- BENEFIT 1 --}}
                <div class="flex column papirus-box flex-center margin-bottom">
                    <input type="text" name="data.benefits.benefit1.name" value="{{data.benefits.benefit1.name}}" placeholder="{{localize 'T.BENEFIT_NAME'}}" class="margin-bottom" />
                    <div class="grid full">
                        <span class="flex column">
                            <label class="resource-label" for="data.benefits.benefit1.category">{{localize 'T.CATEGORY'}}</label>
                            <select name="data.benefits.benefit1.category">
                                {{#select data.benefits.benefit1.category}}
                                <option value="social">{{localize 'T.SOCIAL'}}</option>
                                <option value="combat">{{localize 'T.COMBAT'}}</option>
                                <option value="exploration">{{localize 'T.EXPLORATION'}}</option>
                                <option value="other">{{localize 'T.OTHER'}}</option>
                                {{/select}}
                            </select>
                        </span>
                        <span class="flex column">
                            <label class="resource-label" for="data.benefits.benefit1.level">{{localize 'T.LEVEL'}}</label>
                            <select name="data.benefits.benefit1.level">
                                {{#select data.benefits.benefit1.level}}
                                <option value="weak">{{localize 'T.WEAK'}}</option>
                                <option value="average">{{localize 'T.AVERAGE'}}</option>
                                <option value="strong">{{localize 'T.STRONG'}}</option>
                                {{/select}}
                            </select>
                        </span>
                    </div>
                    <div class="flex row full">
                        <textarea name="data.benefits.benefit1.description">{{data.benefits.benefit1.description}}</textarea>
                    </div>
                </div>

                {{!-- BENEFIT 2 --}}
                <div class="flex column papirus-box flex-center margin-bottom">
                    <input type="text" name="data.benefits.benefit2.name" value="{{data.benefits.benefit2.name}}" placeholder="{{localize 'T.BENEFIT_NAME'}}" class="margin-bottom" />
                    <div class="grid full">
                        <span class="flex column">
                            <label class="resource-label" for="data.benefits.benefit2.category">{{localize 'T.CATEGORY'}}</label>
                            <select name="data.benefits.benefit2.category">
                                {{#select data.benefits.benefit2.category}}
                                <option value="social">{{localize 'T.SOCIAL'}}</option>
                                <option value="combat">{{localize 'T.COMBAT'}}</option>
                                <option value="exploration">{{localize 'T.EXPLORATION'}}</option>
                                <option value="other">{{localize 'T.OTHER'}}</option>
                                {{/select}}
                            </select>
                        </span>
                        <span class="flex column">
                            <label class="resource-label" for="data.benefits.benefit2.level">{{localize 'T.LEVEL'}}</label>
                            <select name="data.benefits.benefit2.level">
                                {{#select data.benefits.benefit2.level}}
                                <option value="weak">{{localize 'T.WEAK'}}</option>
                                <option value="average">{{localize 'T.AVERAGE'}}</option>
                                <option value="strong">{{localize 'T.STRONG'}}</option>
                                {{/select}}
                            </select>
                        </span>
                    </div>
                    <div class="flex row full">
                        <textarea name="data.benefits.benefit2.description">{{data.benefits.benefit2.description}}</textarea>
                    </div>
                </div>

                {{!-- BENEFIT 3 --}}
                <div class="flex column papirus-box flex-center margin-bottom">
                    <input type="text" name="data.benefits.benefit3.name" value="{{data.benefits.benefit3.name}}" placeholder="{{localize 'T.BENEFIT_NAME'}}" class="margin-bottom" />
                    <div class="grid full">
                        <span class="flex column">
                            <label class="resource-label" for="data.benefits.benefit3.category">{{localize 'T.CATEGORY'}}</label>
                            <select name="data.benefits.benefit3.category">
                                {{#select data.benefits.benefit3.category}}
                                <option value="social">{{localize 'T.SOCIAL'}}</option>
                                <option value="combat">{{localize 'T.COMBAT'}}</option>
                                <option value="exploration">{{localize 'T.EXPLORATION'}}</option>
                                <option value="other">{{localize 'T.OTHER'}}</option>
                                {{/select}}
                            </select>
                        </span>
                        <span class="flex column">
                            <label class="resource-label" for="data.benefits.benefit3.level">{{localize 'T.LEVEL'}}</label>
                            <select name="data.benefits.benefit3.level">
                                {{#select data.benefits.benefit3.level}}
                                <option value="weak">{{localize 'T.WEAK'}}</option>
                                <option value="average">{{localize 'T.AVERAGE'}}</option>
                                <option value="strong">{{localize 'T.STRONG'}}</option>
                                {{/select}}
                            </select>
                        </span>
                    </div>
                    <div class="flex row full">
                        <textarea name="data.benefits.benefit3.description">{{data.benefits.benefit3.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>